body {
  background: black url( 'black.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Times New Roman', serif;
  padding: 1px;
  margin: 1px;
  text-shadow: 0 0 8px white;
}

#footballers-added {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-star;
  align-content: center;
}

section {
  border: 1px solid black;
  border-radius: 5px;
  background-color: red;
  opacity: 0.6;
  filter: alpha(opacity=60);
  padding: 20px;
  margin: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.btn {
  border:0px none;
  border-radius: 7%;
  padding: 6px 7px;
  color: papayawhip;
  cursor:pointer;
  font-family: 'Times New Roman', cursive;
  text-shadow: 0 0 8px white;
}

.btn--danger {
  background-color: grey;
}

.btn--danger:hover {
  background-color: #696969;
}

.btn--action:hover {
  background-color: #696969;
}

.btn--action {
  background-color: black;
}

.btn--wrapper {
  margin: 0px 0px 30px 0px;
}
